*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 215, 216);
    
   

}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.card{
    width: 43rem;
    height: 20rem;
    border-radius: 10px;
    background-color: rgb(71, 69, 63);
    border: double;
    box-shadow: 4px 4px 5px #5050;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    gap: 30px;
  
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 50px;
    

}
h2{
    font-size: 1.9rem;
    color: rgb(39, 222, 54);
    display: flex;
    margin-top: 10px;
}
h3{
    font-size: 1.9rem;
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 10px;
}
h4{
    font-size: 1.9rem;
    color: rgb(0, 204, 255);
    display: flex;
    margin-top: 10px;
}
#img-container{
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    box-shadow:0px 0px 110px 0px rgb(4, 255, 0) ;
}
.card >img{
    width: 10rem;
    height: 10rem;
    border-radius: 6%;
    margin: 1rem 0 1rem 0;
}

